<!-- registration-login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-md-6">
                <h2>Registration</h2>
                <form action="/register" method="post">
                    {%csrf_token%}
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName" name="first_name">
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastName" name="last_name">
                    </div>
                    <div class="mb-3">
                        <label for="emailReg" class="form-label">Email</label>
                        <input type="email" class="form-control" id="emailReg" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="passwordReg" class="form-label">Password</label>
                        <input type="password" class="form-control" id="passwordReg" name="password">
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirm_password">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Register">
                    {% if messages %}
                    <ul class="messages">    
                        {% for message in messages %}    
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                        {% endfor %}
                    </ul>
                    {% endif %}
                </form>
            </div>
            <div class="col-md-6">
                <h2>Login</h2>
                <form action="/login" method="post">
                    {%csrf_token%}
                    <div class="mb-3">
                        <label for="emailLogin" class="form-label" >Email</label>
                        <input type="email" class="form-control" id="emailLogin" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="passwordLogin" class="form-label">Password</label>
                        <input type="password" class="form-control" id="passwordLogin" name="password">
                    </div>
                    <input type="submit" class="btn btn-success" value="Log In">
                </form>
            </div>
        </div>
    </div>
</body>
</html>